<!DOCTYPE html>
<html>
    <head>
        <title>Select how each chore should be completed</title>
        <style>
        .primaryselect, .secondaryselect { visibility: hidden; }
        .primary .primaryselect, .idle .primaryselect { visibility: visible; }
        .second .secondaryselect { visibility: visible; }
        .disable { background-color: lightgray; }
        .idle { background-color: white; }
        .primary { background-color: lightblue; }
        .primary .selected { background-color: blue; }
        .second { background-color: lightgoldenrodyellow; }
        .second .selected { background-color: gold; }
        main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3em 1fr;
            grid-auto-flow: column;
        }
        h1 {
            margin: 0.2em;
        }
        section {
            cursor: pointer;
        }
        </style>
        <script type="my/template" id="choretemplate">
        <div id="c-{{choreid}}" class="item choreitem">
            <span class="primaryselect">
                <input type="radio" name="primarychore">
            </span>
            <span class="secondaryselect">
                <input type="checkbox" class="selectchore">
            </span>
            {{chorename}}
        </div>
        </script>
        <script type="my/template" id="availabilitytemplate">
        <div id="a-{{availId}}" class="item availitem">
            <span class="primaryselect">
                <input type="radio" name="primaryavailability">
            </span>
            <span class="secondaryselect">
                <input type="radio" name="selectavailability">
            </span>
            {{availabilityname}}
        </div>
        </script>
        <script type="my/template" id="grouptemplate">
        <div id="g-{{groupId}}" class="item groupitem">
            <span class="primaryselect">
                <input type="radio" name="primarygroup">
            </span>
            <span class="secondaryselect">
                <input type="radio" name="selectgroup">
            </span>
            {{groupname}}
        </div>
        </script>
    </head>
    <body>
        <header>
            <h3><a href="/admin">&lt; Back to Admin tasks</a></h3>
        </header>
        <main>
            <h1>Chores</h1>
            <section id="chores">
                <label>Loading chore list...
                    <progress></progress>
                </label>
            </section>
            <h1>Should be completed...</h1>
            <section id="availability">
                <label>Loading availability list...
                    <progress></progress>
                </label>
            </section>
            <h1>By...</h1>
            <section id="groups">
                <label>Loading assignee list...
                    <progress></progress>
                </label>
            </section>
        </main>
        <script src="/client/utils.js"></script>
        <script>
        var theMap = null;      // Set by /api/choremap
        // {
        //  [choreId]: {  groupId: "xxxx", availId: "xxxx" }
        // }
        parallelordered( req( "/api/config" ), function ( choreInfo ) { // CHORES [ { alias, name, points } ]
            var choreTemplate = byId( "choretemplate" ).textContent;
            var choreHTML = "";
            for ( var i = 0, len = choreInfo.chores.length; i < len; i++ ) {
                choreHTML += choreTemplate.replace( 
                    /{{choreid}}/, choreInfo.chores[ i ].alias ).replace(
                    /{{chorename}}/, choreInfo.chores[ i ].name + " (" + choreInfo.chores[ i ].points + ")" );
            }
            var choreSection = byId( "chores" );
            choreSection.innerHTML = choreHTML;
            choreSection.addEventListener( 'click', groupClickHandler );
            setGroupState( choreSection, true, false, false, false );
            
        }, req( "/api/availabilties" ), function ( availabilityMap ) { // AVAILABLES { alias: { name: "" }, ... }
            var availTemplate = byId( "availabilitytemplate" ).textContent;
            var availHTML = "";
            var availAliases = Object.keys( availabilityMap );
            for ( var i = 0, len = availAliases.length; i < len; i++ ) {
                availHTML += availTemplate.replace(
                    /{{availId}}/, availAliases[ i ] ).replace(
                    /{{availabilityname}}/, availabilityMap[ availAliases[ i ] ].name );
            }
            var availSection = byId( "availability" );
            availSection.innerHTML = availHTML;
            availSection.addEventListener( 'click', groupClickHandler );
            setGroupState( availSection, true, false, false, false );
        }, req( "/api/groups" ), function ( groupsMap ) {
            var groupTemplate = byId( "grouptemplate" ).textContent;
            var groupHTML = "";
            var groupAliases = Object.keys( groupsMap );
            for ( var i = 0, len = groupAliases.length; i < len; i++ ) {
                groupHTML += groupTemplate.replace(
                    /{{groupId}}/, groupAliases[ i ] ).replace(
                    /{{groupname}}/, groupsMap[ groupAliases[ i ] ].name );
            }
            var groupSection = byId( "groups" );
            groupSection.innerHTML = groupHTML;
            groupSection.addEventListener( 'click', groupClickHandler );
            setGroupState( groupSection, true, false, false, false );
        }, req( "/api/choremap" ), function ( choreMap ) {
            theMap = choreMap;
        }, console.log );
        function groupClickHandler( e ) { // Where currentTarget is either id=chores, id=availability, or id=groups
            var section = e.currentTarget;
            if ( section.classList.contains( "disable" ) ) {
                return; // The section is disabled--no interactivity.
            }
            else if ( section.classList.contains( "idle" ) ) {
                itemFromClick( e.target, function setPrimaryAndSecondary( itemEl ) {
                    setGroupState( section, false, true, false, false ); // this is primary (whichever group was clicked)
                    selectItem( itemEl, true );
                    setSecondarySelections( section, itemEl );
                } );
            }
            else if ( section.classList.contains( "primary" ) ) {
                itemFromClick( e.target, function becomeIdleOrSwapSelection( itemEl ) {
                    // Clear all selected... (including all previous secondary selections )
                    var selfSelect = itemEl.classList.contains( "selected" );
                    var allSelected = document.querySelectorAll( ".selected" );
                    for ( var i = 0, len = allSelected.length; i < len; i++ ) {
                        selectItem( allSelected[ i ], false );
                    }
                    if ( selfSelect ) {
                        // All groups go idle
                        setGroupState( byId( "chores" ), true, false, false, false ); // idle
                        setGroupState( byId( "availability" ), true, false, false, false ); // idle
                        setGroupState( byId( "groups" ), true, false, false, false ); // idle
                    }
                    else { // Swap primary selected item
                        selectItem( itemEl, true );
                        setSecondarySelections( section, itemEl );
                    }
                } );
            }
            else if ( section.classList.contains( "second" ) ) {
                itemFromClick( e.target, function noopOrChangeState( itemEl ) {
                    var currentPrimary = document.querySelector( ".primary" );
                    var currentPrimarySelected = document.querySelector( ".primary .selected" );
                    // Note: 'second' is 'section'/item
                    //{ chore: 'xxx', changeto: { availId: 'xxx' } } // Swap the old availId to the new one.
                    //{ chore: 'xxx', changeto: { availId: null } }  // Remove (set to default) the old availId
                    //{ chore: 'xxx', changeto: { groupId: 'xxx' } } // Swap the old groupId to the new one.
                    //{ chore: 'xxx', changeto: { groupId: null } }  // Remove (set to default) the old groupId
                    if ( section.id == "chores" ) { // Multi-selection
                        var changeRequest = { chore: noItemPrefix( itemEl ), changeto: {} };
                        var changeToTarget = ( currentPrimary.id == "availability" ? "availId" : "groupId" );
                        if ( itemEl.classList.contains( "selected" ) ) {
                            // Remove from primary group
                            changeRequest.changeto[ changeToTarget ] = null;
                            requestStateChange( changeRequest, function onsuccess() {
                                selectItem( itemEl, false ); // Remove it if successful.
                            } );
                        }
                        else {
                            changeRequest.changeto[ changeToTarget ] = noItemPrefix( currentPrimarySelected );
                            requestStateChange( changeRequest, function onsuccess() {
                                selectItem( itemEl, true ); // Add it if successful
                            } );
                        }
                    }
                    // One-at-a-time selection (radio group behavior) (primary must be 'chores')
                    else if ( !itemEl.classList.contains( "selected" ) ) { // no-op if re-clicking on a secondary selection (for avail/group)
                        // De-select previous, select new one.
                        var oldItem = section.querySelector( ".selected" ); // secondarySelected
                        var changeRequest = { chore: noItemPrefix( currentPrimarySelected ), changeto: {} };
                        changeRequest.changeto[ ( section.id == "availability" ? "availId" : "groupId" ) ] = noItemPrefix( itemEl );
                        requestStateChange( changeRequest, function onsuccess() {
                            selectItem( oldItem, false ); // Previous selection removed
                            selectItem( itemEl, true );   // New selection added.
                        } );
                    }
                } );
            }
        }
        function setSecondarySelections( sectionEl, itemEl ) {
            // Set secondary...
            if ( sectionEl.id == "chores" ) {
                var availAndGroupOb = theMap[ noItemPrefix( itemEl ) ]; // trim off the "c-"
                setGroupState( byId( "availability" ), false, false, true, false ); // secondary
                selectItem( byId( "a-" + availAndGroupOb.availId ), true );
                setGroupState( byId( "groups" ), false, false, true, false ); // secondary
                selectItem( byId( "g-" + availAndGroupOb.groupId ), true );
            }
            else {
                setGroupState( byId( "chores" ), false, false, true, false ); // secondary
                var choreidlist = Object.keys( theMap );
                var mapMember = ( sectionEl.id == "availability" ? "availId" : "groupId" );
                var oppositeGroup = ( sectionEl.id == "availability" ? "groups" : "availability" );
                var goal = noItemPrefix( itemEl ); // Trim off the "a-"
                for ( var i = 0, len = choreidlist.length; i < len; i++ ) {
                    if ( theMap[ choreidlist[ i ] ][ mapMember ] == goal ) {
                        selectItem( byId( "c-" + choreidlist[ i ] ), true );
                    }
                }
                setGroupState( byId( oppositeGroup ), false, false, false, true ); // disabled
            }
        }
        function setGroupState( el, isIdle, isPrimarySelected, isSecondarySelected, isDisabled ) {
            el.classList.toggle( "idle", isIdle );
            el.classList.toggle( "primary", isPrimarySelected );
            el.classList.toggle( "second", isSecondarySelected );
            el.classList.toggle( "disable", isDisabled );
        }
        function itemFromClick( clickTarget, nextFunction ) {
            for ( var i = 0; i < 3 && !clickTarget.classList.contains( "item" ); i++ ) {
                clickTarget = clickTarget.parentNode;
            }
            if ( clickTarget.classList && clickTarget.classList.contains( "item" ) ) {
                return nextFunction( clickTarget );
            }
            // Not found. Ignore this click.
            return;
        }
        function selectItem( itemEl, isSelected ) {
            itemEl.classList.toggle( "selected", isSelected );
            if ( itemEl.parentNode.classList.contains( "primary" ) ) {
                itemEl.firstElementChild.firstElementChild.checked = isSelected;
            }
            else if ( itemEl.parentNode.classList.contains( "second" ) ) {
                itemEl.lastElementChild.firstElementChild.checked = isSelected;
            }
        }
        function noItemPrefix( element ) {
            return element.id.substring( 2 );
        }
        function byId( idString ) {
            return document.getElementById( idString );
        }
        function requestStateChange( requestOb, successCallback ) {
            // Save state
            var primaryGroup = document.querySelector( ".primary" );
            var secondaryGroups = document.querySelectorAll( ".second" );
            var primaryItem = document.querySelector( ".primary .selected" );
            var secondaryGroupItems = [];
            for ( var i = 0, len = secondaryGroups.length; i < len; i++ ) {
                secondaryGroupItems.push( secondaryGroups[ i ].querySelectorAll( ".selected" ) );
            }
            setGroupState( byId( "chores" ), false, false, false, true ); // disabled
            setGroupState( byId( "availability" ), false, false, false, true ); // disabled
            setGroupState( byId( "groups" ), false, false, false, true ); // disabled
            var restore = function () {
                setGroupState( primaryGroup, false, true, false, false ); // primary
                selectItem( primaryItem, true );
                for ( var i = 0, len = secondaryGroups.length; i < len; i++ ) {
                    setGroupState( secondaryGroups[ i ], false, false, true, false ); // secondary
                    for ( var k = 0, kLen = secondaryGroupItems[ i ].length; k < kLen; k++ ) {
                        selectItem( secondaryGroupItems[ i ][ k ], true );
                    }
                }
            }
            req( "/api/stateselect", requestOb ).then( function success( responseOb ) {
                // { "choreId": { availId|groupId: "id" } }
                var choreId = Object.keys( responseOb )[0];
                var changedKey = ( responseOb[ choreId ].availId ? "availId" : "groupId" );
                var oldValue = theMap[ choreId ][ changedKey ];
                theMap[ choreId ][ changedKey ] = responseOb[ choreId ][ changedKey ];
                restore();
                // There *may* not be a change in the requested value IF the user trys to de-select a secondary chore, but
                // that chore was already set to the default value (so it will again be set to the default value).
                // the next conditional check avoids this rare case.
                if ( oldValue != theMap[ choreId ][ changedKey ] ) {
                    successCallback();
                }
            }, function errorOrTimeout() {
                restore();
            } );
        }
        </script>
    </body>
</html>