<!DOCTYPE html>
<html>
    <head>
        <title>Chore approval</title>
        <style>
        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        #print { float: right; font-size: inherit; font-weight: inherit; font-family: 'Segoe UI Symbol'; }
        .clearbutton { display: block; }
        input[disabled] { visibility: hidden; }
        progress { display: block; visibility: hidden; width: 90%; }
        progress.waiting { visibility: visible; }
        .banded tbody tr:nth-child(odd) { background-color: lightblue; }
        .banded tbody tr:nth-child(even) { background-color: wheat; }
        .banded { border-spacing: 1em 0.5em; }
        .banded th span, .banded td:first-child > .name { font-size: x-large; }
        .banded td { border-radius: 0.5em; padding: .5em; }
        .aprovereject { display: flex; width: 100%; }
        .aprovereject > * { flex: 1fr; }
        a.statuslink { font-size: larger; padding: 0.5em; display: inline-block; }
        #overalltotalsmet.yes::before { font-family: "Segoe UI Symbol"; content: '\e005 '; }
        #overalltotalsmet.no::before { font-family: "Segoe UI Symbol"; content: '\e0d9 '; }
        ul { margin: 0 2em 0 0; }
        .yes, .approve { color: green; }
        .no, .error, .reject { color: red; }
        .incomplete, .unavailable { background-color: yellow; }
        </style>
        <script id="user-chore-approval-row" type="my/template">
        <tr id="{{user}}">
            <td class="user">
                <span class="name">{{name}}</span>
                <input type="button" class="clearbutton" value="Clear all weeks for {{name}}" title="Clear all chore selections made by {{name}} for weeks 1, 2, 3, and 4, and reset the status of each week to 'Draft'.">
                <progress></progress>
            </td>
            <td data-week="0">
                <input type="button" class="clearbutton" value="Clear week" title="Clear all chore selections made in week 1 for {{name}}, and reset the status to 'Draft'.">
                <a class="statuslink" href="#">View <span class="statusval">...</span></a>
                <div class="aprovereject">
                    <input type="button" value="Approve" class="approve" title="Approve this user's Pending or Draft request.">
                    <input type="button" value="Reject" class="reject" title="Reject this user's Pending or Approved request.">
                </div>
                <progress></progress>
            </td>
            <td data-week="1">
                <input type="button" class="clearbutton" value="Clear week" title="Clear all chore selections made in week 2 for {{name}}, and reset the status to 'Draft'.">
                <a class="statuslink" href="#">View <span class="statusval">...</span></a>
                <div class="aprovereject">
                    <input type="button" value="Approve" class="approve" title="Approve this user's Pending or Draft request.">
                    <input type="button" value="Reject" class="reject" title="Reject this user's Pending or Approved request.">
                </div>
                <progress></progress>
            </td>
            <td data-week="2">
                <input type="button" class="clearbutton" value="Clear week" title="Clear all chore selections made in week 3 for {{name}}, and reset the status to 'Draft'.">
                <a class="statuslink" href="#">View <span class="statusval">...</span></a>
                <div class="aprovereject">
                    <input type="button" value="Approve" class="approve" title="Approve this user's Pending or Draft request.">
                    <input type="button" value="Reject" class="reject" title="Reject this user's Pending or Approved request.">
                </div>
                <progress></progress>
            </td>
            <td data-week="3">
                <input type="button" class="clearbutton" value="Clear week" title="Clear all chore selections made in week 4 for {{name}}, and reset the status to 'Draft'.">
                <a class="statuslink" href="#">View <span class="statusval">...</span></a>
                <div class="aprovereject">
                    <input type="button" value="Approve" class="approve" title="Approve this user's Pending or Draft request.">
                    <input type="button" value="Reject" class="reject" title="Reject this user's Pending or Approved request.">
                </div>
                <progress></progress>
            </td>     
        </tr>
        </script>
        <script id="view-user-info" type="my/template">
            <h2>Week {{week}} for {{name}}</h2>
            <h1>Current status: {{status}}</h1>
            <h2>Minimum daily point requirements? <span id="overalltotalsmet" class="yes">Yes</span></h3>
            <table id="minreqstable">
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Sun</span></th>
                        <th><span>Mon</span></th>
                        <th><span>Tue</span></th>
                        <th><span>Wed</span></th>
                        <th><span>Thu</span></th>
                        <th><span>Fri</span></th>
                        <th><span>Sat</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Selected Total</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                        <td class="selectedtotalcell">..</td>
                    </tr>
                    <tr>
                        <td>Minimum Required Total</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                        <td class="minimumtotalcell">..</td>
                    </tr>
                </tbody>
            </table>
            <h2>Week {{week}} selected chores for {{name}} <input type="button" id="print" title="Format these chores for printing" value="&#xe2f6;  Print..."></h2>
            <table class="banded">
                <tbody>
                    <tr>
                        <td>Sunday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td class="dailychoreinsertion"><ul><li>None</li></ul></td>
                    </tr>
                </tbody>
            </table>
        </script>
    </head>
    <body>
        <header>
            <h3><a href="/admin">&lt; Back to Admin tasks</a></h3>
        </header>
        <h1>Chore Approval Status</h1>
        <h3>
            <input id="clearallbutton" type="button" class="clearbutton" value="Clear month" title="Clear all chore selections from all users for all weeks, and reset their status to 'Draft'.">
            <progress id="global-progress"></progress>
        </h3>
        <table class="banded" id="overallviewtable">
            <thead>
                <tr>
                    <th></th>
                    <th data-header-week="0">
                        <input type="button" class="clearbutton" value="Clear week 1 (all users)" title="Clear all chore selections from all users in week 1, and reset their status to 'Draft'.">
                        <span>Week 1</span>
                        <progress></progress>
                    </th>
                    <th data-header-week="1">
                        <input type="button" class="clearbutton" value="Clear week 2 (all users)" title="Clear all chore selections from all users in week 2, and reset their status to 'Draft'.">
                        <span>Week 2</span>
                        <progress></progress>
                    </th>
                    <th data-header-week="2">
                        <input type="button" class="clearbutton" value="Clear week 3 (all users)" title="Clear all chore selections from all users in week 3, and reset their status to 'Draft'.">
                        <span>Week 3</span>
                        <progress></progress>
                    </th>
                    <th data-header-week="3">
                        <input type="button" class="clearbutton" value="Clear week 4 (all users)" title="Clear all chore selections from all users in week 4, and reset their status to 'Draft'.">
                        <span>Week 4</span>
                        <progress></progress>
                    </th>
                </tr>
            </thead>
            <tbody id="insert-point"></tbody>
        </table>
        <hr>
        <div id="userstatus"></div>
        <script>
        var usersDB = null;
        function presetup() {
            usersDB = JSON.parse( sessionStorage.getItem( "users-db" ) );
            if ( !usersDB ) {
                return console.log( "Unable to get user-db from local storage!" );
            }
            var userList = Object.keys( usersDB );
            var templateRowEl = document.getElementById( "user-chore-approval-row" );
            var rows = "";
            for ( var i = 0, len = userList.length; i < len; i++ ) {
                rows += templateRowEl.textContent.replace( 
                    /{{user}}/g, userList[ i ] ).replace( 
                    /{{name}}/g, usersDB[ userList[ i ] ].name );
            }
            document.getElementById( "insert-point" ).innerHTML = rows;
        }
        presetup();
        </script>
        <script src="/client/utils.js"></script>
        <script>
        var requestInProgress = false;
        var globalProgressEl = document.getElementById( "global-progress" );
        //var statusCache = [ {}, {}, {}, {} ]; // week-indexed, user dictionaries.
        var choreDB = {};
        onload = function () {
            waitingOnServerRequest( globalProgressEl );
            parallelordered( 
                req( "/api/submitstatus" ), refreshValues( globalProgressEl ),
                req( "/api/chorelist" ), function ( chorelist ) {
                    if ( !Array.isArray( chorelist ) ) {
                        return serverRequestFailed( globalProgressEl )();
                    }
                    for ( var i = 0, len = chorelist.length; i < len; i++ ) {
                        choreDB[ chorelist[ i ].alias ] = chorelist[ i ];
                    }
                },
                serverRequestFailed( globalProgressEl )
            );
            // Hookup handler for approve/reject requests
            document.getElementById( "insert-point" ).addEventListener( "click", function ( e ) {
                if ( !e.target.classList || requestInProgress ) {
                    return; // Not an element target | request in flight
                }
                if ( e.target.classList.contains( "approve" ) || e.target.classList.contains( "reject" ) ) {
                    var localProgressEl = e.target.parentNode.nextElementSibling;
                    waitingOnServerRequest( localProgressEl );
                    req( "/api/setsubmitstatus", { 
                        value: ( e.target.classList.contains( "approve" ) ? 2 : 0 ), // 2=approved, 0=draft
                        week: parseInt( e.target.parentNode.parentNode.dataset[ "week" ] ),
                        user: e.target.parentNode.parentNode.parentNode.id
                    } ).then( function success ( succeeded ) {
                        if ( !succeeded ) {
                            return serverRequestFailed( localProgressEl )();
                        }
                        req( "/api/submitstatus" ).then( refreshValues( localProgressEl ), serverRequestFailed( localProgressEl ) );
                    }, serverRequestFailed( localProgressEl ) );
                }
                else if ( e.target.classList.contains( "statuslink" ) || ( e.target.parentNode.classList && e.target.parentNode.classList.contains( "statuslink" ) ) ) {
                    var parent = ( e.target.classList.contains( "statuslink" ) ? e.target.parentNode : e.target.parentNode.parentNode );
                    var week = parseInt( parent.dataset[ "week" ] );
                    var user = parent.parentNode.id;
                    //if ( statusCache[ week ][ user ] ) {
                    //    fillChoreView( user, week, statusCache[ week ][ user ] );
                    //}
                    //else {
                        var localProgressEl = parent.lastElementChild;
                        waitingOnServerRequest( localProgressEl );
                        req( "/api/weekreview", { user, week } ).then( function success( data ) {
                            if ( !data.expectedPoints ) {
                                return serverRequestFailed( localProgressEl )();
                            }
                            //statusCache[ week ][ user ] = data;
                            serverRequestSucceeded( localProgressEl );
                            fillChoreView( user, week, data );

                        }, serverRequestFailed( localProgressEl ) );
                    //}
                }
            } );
            document.getElementById( "overallviewtable" ).addEventListener( "click", clearHandler );
            document.getElementById( "clearallbutton" ).addEventListener( "click", clearHandler );
        }
        function clearHandler( e ) {
            if ( !e.target.classList || !e.target.classList.contains( "clearbutton" ) ) { 
                return;
            }
            var progressEl = e.target.parentNode.lastElementChild; // True in all cases :-) -- don't mess with the element order!
            var api = null;
            var payload = null;
            if ( e.target.id == "clearallbutton" ) {
                api = "/api/clearchoresall";
            }
            else if ( e.target.parentNode.dataset[ "headerWeek" ] ) {
                api = "/api/clearchoresweek";
                payload = { week: parseInt( e.target.parentNode.dataset[ "headerWeek" ] ) };
            }
            else if ( e.target.parentNode.classList.contains( "user" ) ) {
                api = "/api/clearchoresuser";
                payload = { user: e.target.parentNode.parentNode.id };
            }
            else if ( e.target.parentNode.dataset[ "week" ] ) {
                api = "/api/clearchores";
                payload = { week: parseInt( e.target.parentNode.dataset[ "week" ] ), user: e.target.parentNode.parentNode.id };
            }
            else {
                return console.log( "Error: could not locate clear handler data..." );
            }
            waitingOnServerRequest( progressEl );
            req( api, ( payload ? payload : undefined ) ).then( function ( completedResponse ) {
                if ( !completedResponse.success ) {
                    return serverRequestFailed( progressEl )();
                }
                req( "/api/submitstatus" ).then( refreshValues( progressEl ), serverRequestFailed( progressEl ) );
            }, serverRequestFailed( progressEl ) );
        }
        function printhookup( targetEl, userAlias, weekIndex ) {
            targetEl.onclick = function ( e ) {
                var iframe = document.createElement( 'iframe' );
                iframe.style.visibility = "hidden";
                iframe.style.position = "fixed";
                iframe.style.right = "0";
                iframe.style.bottom = "0";
                iframe.src = "/printone";
                iframe.onload = function () {
                    iframe.contentWindow.postMessage( { printload: "user", user: userAlias, week: weekIndex }, "/" );
                }
                document.body.appendChild(iframe);
                iframe.contentWindow.onafterprint = function () {
                    iframe.parentNode.removeChild( iframe ); // gone again!
                }
            };
        }
        function waitingOnServerRequest( progressEl ) {
            requestInProgress = true;
            if ( progressEl ) {
                progressEl.classList.toggle( "waiting", true );
            }
        }
        function serverRequestSucceeded( progressEl ) {
            requestInProgress = false;
            progressEl.classList.toggle( "waiting", false );
        }
        function serverRequestFailed( progressEl ) {
            return function requestFailedCallback() {
                requestInProgress = false;
                progressEl.classList.toggle( "waiting", false );
                alert( "unable to process request, please reload the page" );
            }
        }
        function choreStatusToString( statusCode ) {
            return ( statusCode == 0 ? "Draft" : ( statusCode == 1 ? "Pending Approval" : "Approved" ) );
        }
        var submitDB = null;
        function refreshValues( progressEl ) {
            return function onrefreshValues( db ) {
                submitDB = db;
                serverRequestSucceeded( progressEl );
                var users = Object.keys( submitDB );
                for ( var i = 0, len = users.length; i < len; i++ ) {
                    var approveRejectEls = document.querySelectorAll( "#" + users[ i ] + " .aprovereject" );
                    var statusSpanEls = document.querySelectorAll( "#" + users[ i ] + " .statusval" );
                    submitDB[ users[ i ] ].forEach( function ( statusValue, j ) {
                        statusSpanEls[ j ].textContent = choreStatusToString( statusValue );
                        approveRejectEls[ j ].firstElementChild.disabled = ( statusValue == 2 ); // APPROVE ELEM
                        approveRejectEls[ j ].lastElementChild.disabled = ( statusValue == 0 );  // REJECT ELEM
                    } );
                }
            }
        }
        function fillChoreView( userAlias, weekIndex, status ) {
            // status { expectedPoints, choreStates, weekChoreAliases }
            var template = document.getElementById( "view-user-info" );
            var userName = usersDB[ userAlias ].name;
            var choreStatus = choreStatusToString( submitDB[ userAlias ][ weekIndex ] );
            var selectedPoints = status.weekChoreAliases.map( function calculateChoreDayPoints( choreAliasArray ) {
                return choreAliasArray.reduce( function sumChores( total, alias ) {
                    return total + choreDB[ alias ].points;
                }, 0 );
            } );
            var statesMap = {};
            status.choreStates.forEach( function ( state ) {
                statesMap[ state.alias ] = state;
            } );
            var content = template.textContent.replace( 
                /{{name}}/g, userName ).replace(
                /{{status}}/g, choreStatus ).replace(
                /{{week}}/g, weekIndex + 1 );
            document.getElementById( "userstatus" ).innerHTML = content;
            printhookup( document.getElementById( "print" ), userAlias, weekIndex );
            var selectedTotalDayElems = document.querySelectorAll( ".selectedtotalcell" );
            var requiredTotalDayElems = document.querySelectorAll( ".minimumtotalcell" );
            var choreDayElems = document.querySelectorAll( ".dailychoreinsertion" );
            var requirementsMet = true;
            for ( var i = 0; i < 7; i++ ) {
                selectedTotalDayElems[ i ].textContent = selectedPoints[ i ];
                requiredTotalDayElems[ i ].textContent = status.expectedPoints[ i ];
                if ( selectedPoints[ i ] < status.expectedPoints[ i ] ) {
                    requirementsMet = false;
                    selectedTotalDayElems[ i ].className = "no";
                }
                if ( status.weekChoreAliases[ i ].length > 0 ) {
                    var choreText = "<ul>";
                    for ( var c = 0, len = status.weekChoreAliases[ i ].length; c < len; c++ ) {
                        var alias = status.weekChoreAliases[ i ][ c ];
                        choreText += "<li class='chore'>" + choreDB[ alias ].name + " (" + choreDB[ alias ].points + ")</li>";
                        if ( statesMap[ alias ].errorReason || statesMap[ alias ].unavailableReason || statesMap[ alias ].incompleteReason ) {
                            choreText += "<ul>";
                            if ( statesMap[ alias ].errorReason ) {
                                choreText += "<li class='error'>" + statesMap[ alias ].errorReason + "</li>";
                            }
                            if ( statesMap[ alias ].unavailableReason ) {
                                choreText += "<li class='unavailable'>" + statesMap[ alias ].unavailableReason + "</li>";
                            }
                            if ( statesMap[ alias ].incompleteReason ) {
                                choreText += "<li class='incomplete'>" + statesMap[ alias ].incompleteReason + "</li>";
                            }
                            choreText += "</ul>";
                        }
                    }
                    choreDayElems[ i ].innerHTML = choreText + "</ul>";
                }
            }
            if ( !requirementsMet ) {
                var requirementsMetEl = document.getElementById( "overalltotalsmet" );
                requirementsMetEl.classList.toggle( "yes", false );
                requirementsMetEl.classList.toggle( "no", true );
                requirementsMetEl.textContent = "No";
            }
        }
        </script>
    </body>
</html>