<!DOCTYPE html>
<html>
    <head>
        <style>
            input[type=button] { font-family: 'Segoe UI Symbol'; }
            .hideunavailable tr.chorerow.unavailable,
            .hideunavailable tr.choresubrow.unavailable,
            tr.chorerow.filtered,
            tr.choresubrow.filtered,
            tr.choresubrow.collapsed { display: none; }
            .coveroffline { outline: 5px solid gray; }
            .coverpending { outline: 5px solid lightblue }
            .coveriserror { outline: 5px solid red; }
            .coverconfirm { outline: 5px solid green; animation: docoverconfirm 1s linear 1 forwards; }
            .coverunavail { visibility: hidden; }
            @keyframes docoverconfirm {
                0% { outline: 5px solid green; }
                60% { outline: 5px solid green; }
                100% { outline: 5px solid transparent; }
            }
            .needy { background-color: lightpink; color: red; }
            .good { background-color: lightgreen; color: green; }
            .notapplicable { color: gray;}
            mark.chorenoteunavailable { background-color: inherit; color: blue; }
            mark.chorenoteerror { background-color: inherit; color: red; }
            .chorerow.error { outline: 1px solid red; }
            .chorerow.incomplete:not(.error) { outline: 1px solid yellow; }
            @supports ( display: grid ) {
                header {
                    display: grid;
                    grid-template-columns: 1fr 6em 7em 9em 6.5em 2fr 6.5em 3em 3em;
                    align-items: center;
                }
                header > label { justify-self: end; }
                main {
                    display: grid;
                    grid-template-columns: 1fr 14em 7em 400px;
                    grid-template-rows: 1.5em 1.5em 3em;
                }
                main > table {
                    grid-column: 1 / 5;
                }
                main > h2 {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
                main > p:first-of-type {
                    grid-column: 2 / 3;
                }
                main > p:last-of-type {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                main > p:nth-of-type(2) {
                    justify-self: end;
                }
                ol {
                    grid-column: 4 / 5;
                    display: grid;
                    grid-template-columns: repeat(8, 50px);
                    justify-items: center;
                    padding: 0;
                }
                li { display: inline; }
                .chorerow, .choreheaderrow, .choresubrow tr { 
                    display: grid; 
                    grid-template-columns: 1fr repeat(9, 50px);
                    justify-items: center;
                }
                .choresubrow td:first-child {
                    grid-column: 1 / 3;
                }
                td:first-child {
                    justify-self: end;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            body { font-family: "Segoe UI"; }
            h1, h2, ol, main p, header p { margin: 0; }
            #serversync, #submitchores, #print { height: 2em; margin-left: 0.3em; }
            header select, .pointstotal { font-size: larger; }
            td:first-child span { font-size: x-large; }
            table { width: 100%; }
            /* visually hide various a11y content */
            header p span, .signuptext, .choresubrow span, th>label, .expand label, ol span:not(.pointstotal):not(.pointsexpected), h2 { overflow:hidden; width:0; height:0; display:inline-block; }
            .pointsexpected::before { content: "/"; }
            @media ( max-width: 1400px ) {
                header>h1>span:first-child { overflow:hidden; width:0; height:0; display:inline-block; }
            }
            .choresubrow p, .choresubrow th { overflow:hidden; height:0; margin:0; }
            /* input selection */
            main p input, main ol input, main .expand input { width: 1em; height: 1em; }
            .signup input { width: 30px; height: 30px; }
            .choresubrow input { width: 25px; height: 25px; }
        </style>
        <script type="my/template" id="chores-waiting">
            <tr>
                <td colspan="10">
                    <label>Loading chore list...
                        <progress></progress>
                    </label>
                </td>
            </tr>
        </script>
        <script type="my/template" id="template-std-row">
            <tr id="{{alias}}" class="chorerow">
                <td>
                    <span class="chorename">{{name}}</span>
                    <mark class="chorenoteunavailable">{{noteunavailable}}</mark>
                    <mark class="chorenoteincomplete">{{noteincomplete}}</mark>
                    <mark class="chorenoteerror">{{noteerror}}</mark>
                </td>
                <td class="chorepoints">{{points}}</td>
                <td class="signup sun" data-day-index="0"><span class="signuptext">Sign up for Sunday</span><input type="checkbox" class="choresignup" title="Sign up for Sunday"></td>
                <td class="signup mon" data-day-index="1"><span class="signuptext">Sign up for Monday</span><input type="checkbox" class="choresignup" title="Sign up for Monday"></td>
                <td class="signup tue" data-day-index="2"><span class="signuptext">Sign up for Tuesday</span><input type="checkbox" class="choresignup" title="Sign up for Tuesday"></td>
                <td class="signup wed" data-day-index="3"><span class="signuptext">Sign up for Wednesday</span><input type="checkbox" class="choresignup" title="Sign up for Wednesday"></td>
                <td class="signup thu" data-day-index="4"><span class="signuptext">Sign up for Thursday</span><input type="checkbox" class="choresignup" title="Sign up for Thursday"></td>
                <td class="signup fri" data-day-index="5"><span class="signuptext">Sign up for Friday</span><input type="checkbox" class="choresignup" title="Sign up for Friday"></td>
                <td class="signup sat" data-day-index="6"><span class="signuptext">Sign up for Saturday</span><input type="checkbox" class="choresignup" title="Sign up for Saturday"></td>
                <td class="expand">
                    <label for="expand{{i}}">show other users</label>
                    <input id="expand{{i}}" type="checkbox" class="expander" title="see additional users that have selected this chore">
                </td>
            </tr>
        </script>
        <script type="my/template" id="template-sub-row-container">
            <tr id="{{alias}}-sub" class="choresubrow collapsed">
                <td colspan="10">
                    <p>Other user signups for this chore</p>
                    <table>
                        <thead>
                            <tr>
                                <th><span>Other user</span></th>
                                <th><span>Signed up for Sunday</span></th>
                                <th><span>Signed up for Monday</span></th>
                                <th><span>Signed up for Tuesday</span></th>
                                <th><span>Signed up for Wednesday</span></th>
                                <th><span>Signed up for Thursday</span></th>
                                <th><span>Signed up for Friday</span></th>
                                <th><span>Signed up for Saturday</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{allrows}}
                        </tbody>
                    </table>
                </td>
            </tr>
        </script>
        <script type="my/template" id="template-sub-row">
            <tr id="{{alias}}-sub-{{user}}">
                <td>{{name}}</td>
                <td><span class="signup">Signed up for Sunday</span><input type="checkbox" disabled title="Signed up for Sunday"></td>
                <td><span class="signup">Signed up for Monday</span><input type="checkbox" disabled title="Signed up for Monday"></td>
                <td><span class="signup">Signed up for Tuesday</span><input type="checkbox" disabled title="Signed up for Tuesday"></td>
                <td><span class="signup">Signed up for Wednesday</span><input type="checkbox" disabled title="Signed up for Wednesday"></td>
                <td><span class="signup">Signed up for Thursday</span><input type="checkbox" disabled title="Signed up for Thursday"></td>
                <td><span class="signup">Signed up for Friday</span><input type="checkbox" disabled title="Signed up for Friday"></td>
                <td><span class="signup">Signed up for Saturday</span><input type="checkbox" disabled title="Signed up for Saturday"></td>                
            </tr>
        </script>
    </head>
    <body>
        <header>
            <h1><span>Chores for </span><span id="friendlyname">...</span></h1>
            <p><a href="/login">Switch user</a></p>
            <p><span>Showing chore signup for </span> 
                <select id="week">
                    <option value="0">week 1</option>
                    <option value="1">week 2</option>
                    <option value="2">week 3</option>
                    <option value="3">week 4</option>
                </select>
            </p>
            <p id="submitstatus">...</p>
            <input id="submitchores" type="button" title="Submit this week's chore selections" value="Submit chores" disabled>
            <p id="submitchoremessage"></p>
            <label for="serversync">sync to server</label>
            <input id="serversync" type="button" title="Sync to server" value="&#xe117;" disabled>
            <input id="print" type="button" title="Format the selected chores for printing" value="&#xe2f6;">
        </header>
        <main>
            <h2>Minimum Points Needed</h2>
            <ol>
                <li>
                    <span class="day">Sunday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Monday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Tuesday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Wednesday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Thursday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Friday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
                <li>
                    <span class="day">Saturday</span>
                    <span>Points total: </span><span class="pointstotal">0</span>
                    <span>Points expected: </span><span class="pointsexpected">X</span>
                </li>
            </ol>
            <h2>Chore filters</h2>
            <p><label>Hide un-available chores <input type="checkbox" id="hideunavailable" title="Show or hide chores that aren't available" checked></label></p>
            <p><label>No filter <input type="radio" name="filtergroup" title="Do not filter the chore list to any specific day" value="-1" checked></label></p>
            <ol>
                <li>
                    <span class="filter">Show only chores available on Sunday</span>
                    <input title="Filter chore list to those available on Sunday only" type="radio" name="filtergroup" value="0">
                </li>
                <li>
                    <span class="filter">Show only chores available on Monday</span>
                    <input title="Filter chore list to those available on Monday only" type="radio" name="filtergroup" value="1">
                </li>
                <li>
                    <span class="filter">Show only chores available on Tuesday</span>
                    <input title="Filter chore list to those available on Tuesday only" type="radio" name="filtergroup" value="2">
                </li>
                <li>
                    <span class="filter">Show only chores available on Wednesday</span>
                    <input title="Filter chore list to those available on Wednesday only" type="radio" name="filtergroup" value="3">
                </li>
                <li>
                    <span class="filter">Show only chores available on Thursday</span>
                    <input title="Filter chore list to those available on Thursday only" type="radio" name="filtergroup" value="4">
                </li>
                <li>
                    <span class="filter">Show only chores available on Friday</span>
                    <input title="Filter chore list to those available on Friday only" type="radio" name="filtergroup" value="5">
                </li>
                <li>
                    <span class="filter">Show only chores available on Saturday</span>
                    <input title="Filter chore list to those available on Saturday only" type="radio" name="filtergroup" value="6">
                </li>
            </ol>
            <h2>Chore signups</h2>
            <p>Showing <span id="choreshowingtotal">..</span> of <span id="choretotal">..</span></p>
            <table>
                <thead>
                    <tr class="choreheaderrow">
                        <th>Chore<span class="signuptext"> Name</span></th>
                        <th><span class="signuptext">Chore </span>Points</th>
                        <th class="sun"><span class="signuptext">Signed up for </span>Sun<span class="signuptext">day</span></th>
                        <th class="mon"><span class="signuptext">Signed up for </span>Mon<span class="signuptext">day</span></th>
                        <th class="tue"><span class="signuptext">Signed up for </span>Tues<span class="signuptext">day</span></th>
                        <th class="wed"><span class="signuptext">Signed up for </span>Wed<span class="signuptext">nesday</span></th>
                        <th class="thu"><span class="signuptext">Signed up for </span>Thur<span class="signuptext">sday</span></th>
                        <th class="fri"><span class="signuptext">Signed up for </span>Fri<span class="signuptext">day</span></th>
                        <th class="sat"><span class="signuptext">Signed up for </span>Sat<span class="signuptext">urday</span></th>
                        <th>
                            <label for="collapseall">Collapse All</label>
                            <input id="collapseall" type="button" title="collapse all other users" value="^" disabled>
                        </th>
                    </tr>
                </thead>
                <tbody id="choresignups" class="hideunavailable">
                </tbody>
            </table>
        </main>
        <script>
        function setChoresToLoading() {
            document.getElementById( "choresignups" ).innerHTML = document.getElementById( "chores-waiting" ).textContent;
        }
        setChoresToLoading();
        // Update week select control with last saved week (if saved)
        var lastWeekViewed = sessionStorage.getItem( "last-week" );
        if ( lastWeekViewed ) {
            document.getElementById( "week" ).value = lastWeekViewed;
        }
        else {
            sessionStorage.setItem( "last-week", "0" ); // The default.
        }
        </script>
        <script src="client/utils.js"></script>
        <script>
        var week = null;    // Set in onload
        var usersDB = null; // Set in onload
        var user = null;                            // Set in /api/config response
        var submitStatus = [];                      // Set in /api/config response
        var choreDB = {};                           // Set in /api/config response
        var dayRequired = [ 0, 0, 0, 0, 0, 0, 0 ];  // Set in /api/config response
        var statusDB = {};                          // Set in /api/allstatus response
        onload = function() {
            // Get previously stored users object dictionary from session storage...
            usersDB = JSON.parse( sessionStorage.getItem( "users-db" ) );
            if ( !usersDB ) {
                return console.log( "Unable to get user-db from local storage!" );
            }
            week = parseInt( document.getElementById( "week" ).value );
            var weekOb = { week: week };
            parallelordered( req( "/api/config" ), function ( config ) {
                // {
                //    user: 'alias'
                //    chores: [ { alias, name, points } ] <-- list form is more compact for server x-change.
                //    submitstatus: [ #, #, #, # ]        <-- 0 - draft, 1 - submitted, 2 - approved
                //    expectedPoints: [ 0, 0, ... 1 ]     <-- number of points expected for this user per day (0-6)
                // }
                user = config.user;
                document.getElementById( "friendlyname" ).textContent = usersDB[ user ].name;
                submitStatus = config.submitStatus;
                dayRequired = config.expectedPoints;
                for ( var i = 0, len = config.chores.length; i < len; i++ ) {
                    var ob = config.chores[ i ];
                    choreDB[ ob.alias ] = ob;
                }
                var requiredElems = document.querySelectorAll( ".pointsexpected" );
                for ( var i = 0, len = requiredElems.length; i < len; i++ ) {
                    requiredElems[ i ].textContent = dayRequired[ i ];
                }
                document.getElementById( "choretotal" ).textContent = config.chores.length;
            }, req( "/api/allstatus", weekOb ), reloadStatus, console.log );
            // Hookup week-change notification.
            document.getElementById( "week" ).onchange = function ( e ) {
                setChoresToLoading();
                week = parseInt( e.target.value );
                req( "/api/allstatus", { week: week } ).then( reloadStatus, console.log );
                sessionStorage.setItem( "last-week", e.target.value );
            };
            // Hookup unavailable chore toggle
            document.getElementById( "hideunavailable" ).onchange = processUnavailableChoreFilter;
            // Hookup offline sync (when not disabled)
            document.getElementById( "serversync" ).onclick = selectionOfflineFlightRetry;
            // Hookup collapse all button (when not disabled)
            document.getElementById( "collapseall" ).onclick = function () {
                var openIndicatorList = document.querySelectorAll( ".expander:checked" );
                for ( var i = 0, len = openIndicatorList.length; i < len; i++ ) {
                    openIndicatorList[ i ].checked = false; // Force it off
                    updateExpandCollapseRow( openIndicatorList[ i ] );
                }
                document.getElementById( "collapseall" ).disabled = true; // Since everything is now collapsed.
            };
            // Hookup filter, chore selection, and expand/collapse toggles ( delegation pattern )
            document.addEventListener( "change", function ( e ) { 
                if ( e.target.name == "filtergroup" ) { // Day filter changes!
                    processDayFilter();
                }
                else if ( e.target.classList.contains( "choresignup" ) ) { // Chore selection changes!
                    var submit = {
                        select: e.target.checked,
                        chore: e.target.parentNode.parentNode.id,
                        week: week,
                        day: parseInt( e.target.parentNode.dataset[ "dayIndex" ] ) // data-day-index
                    };
                    applyDayCovers( e.target, true, false, false, false );
                    updateModelWithSelectionInfo( submit );
                    queueSubmitSelection( submit );
                }
                else if ( e.target.classList.contains( "expander" ) ) { // Expand/collapse toggle
                    updateExpandCollapseRow( e.target );
                    updateExpandAllButton();
                }
            } );
            document.getElementById( "submitchores" ).onclick = trySubmitChores;
            document.getElementById( "print" ).onclick = function () {
                var iframe = document.createElement( 'iframe' );
                iframe.style.visibility = "hidden";
                iframe.style.position = "fixed";
                iframe.style.right = "0";
                iframe.style.bottom = "0";
                iframe.src = "/printone";
                iframe.onload = function () {
                    iframe.contentWindow.postMessage( { printload: "my" }, "/" );
                }
                document.body.appendChild(iframe);
                iframe.contentWindow.onafterprint = function () {
                    iframe.parentNode.removeChild( iframe ); // gone again!
                }
            };
            // Give the weekly totals a default value
            refreshDayTotals();
        }
        function updateModelWithSelectionInfo( selectionOb, skipRefresh ) {
            // Update the model.
            var weekArray = statusDB[ selectionOb.chore ].week.split("");
            // If nothing is changing in the model, return early
            if ( ( selectionOb.select && weekArray[ selectionOb.day ] == "2" ) ||
                 ( !selectionOb.select && weekArray[ selectionOb.day ] == "1" ) ) {
                return;
            }
            weekArray[ selectionOb.day ] = ( selectionOb.select ? "2" : "1" );
            statusDB[ selectionOb.chore ].week = weekArray.join("");
            if ( !skipRefresh ) {
                refreshDayTotals();
            }
        }
        function updateExpandCollapseRow( inputEl ) {
            inputEl.classList.toggle( "open", inputEl.checked );
            document.getElementById( inputEl.parentNode.parentNode.id + "-sub" ).classList.toggle( "collapsed", !inputEl.checked );
        }
        function updateExpandAllButton() { // Enable/disable the 'expand all' button
            var totalExpanded = document.querySelectorAll( ".expand input:checked" ).length;
            document.getElementById( "collapseall" ).disabled = totalExpanded == 0;
        }
        var submitQueue = []; // { select: bool, week: #, day: # }
        var offlineQueue = []; // Used only when in offline mode (poorConnection == true) -- in-memory version of localStorage (to save too-frequent read/writes)
        var inFlight = null;  // An existing queue has been submitted, but is not done processing...
        var flightWeek = null; // Avoid a race condition.
        var poorConnection = false; // Reset in /api/allstatus changes
        function queueSubmitSelection( submit ) {
            submitQueue.push( submit );
            processQueue();
        }
        // State machine:
        // NORMAL (inflight:f,poorConnection:f) - start a request with the contents of the current queue, set inflight:t
        // INFLIGHT (inflight:t,poorConnection:f) - do nothing (wait for previous request to complete).
        // OFFLINE (inflight:f,poorConnection:t) - add to the queue in local storage (persist queue)
        // --n/a-- (inflight:t,poorConnection:t) - can't be in this state (not possible)
        function processQueue() {
            if ( submitQueue.length > 0 && !inFlight && !poorConnection ) { // NORMAL
                // Send a new flight
                inFlight = submitQueue;
                flightWeek = week;
                submitQueue = [];
                req( "/api/choreselect", inFlight ).then( function res( response ) {
                    // Get results... { results: [ { success|error } ], updates: {} }
                    if ( response.results.length != inFlight.length ) {
                        throw new Error( "big oops! Queue lengths must match!" );
                    }
                    inplaceUpdateStatuses( response.updates ); // Replaces previous content for the affected rows.
                    for ( var i = 0, len = response.results.length; i < len; i++ ) {
                        if ( response.results[ i ].success ) {
                            applyDayCovers( getElFromItemSelection( inFlight[ i ] ), false, false, false, true ); // confirmed!
                            // Model was previously updated (no need to update it again)
                        }
                        else { // error!
                            selectionFlightError( inFlight[ i ] );
                        }
                    }
                    inFlight = null;
                    setTimeout( processQueue, 0 );
                }, function err( err ) { // REQUEST ERROR or TIMEOUT
                    // Treat all errors as timeouts (server connectivity errors of various flavors...)
                    if ( err.message != "timeout" ) { // Some other error
                        console.log( "Non-timeout error: " + err );
                    }
                    selectionFlightTimeout();
                } );
            }
            else if ( submitQueue.length > 0 && poorConnection && !inFlight ) { // OFFLINE
                // submitQueue.length == 1 (always in offline mode)
                var offlineSelection = submitQueue[ 0 ];
                submitQueue = [];
                var found = false;
                // Check to see if its in the offline queue already. If so, remove the original (add or drop) as this is just an 'undo' of an action taken while ofline.
                for ( var i = 0, len = offlineQueue.length; i < len; i++ ) {
                    if ( offlineSelection.chore == offlineQueue[ i ].chore && offlineSelection.week == offlineQueue[ i ].week && offlineSelection.day == offlineQueue[ i ].day ) {
                        offlineQueue.splice( i, 1 ); // modifies the array in-place
                        found = true;
                        break; // No need to keep processing--this will only possibly happen once.
                    }
                }
                applyDayCovers( getElFromItemSelection( offlineSelection ), false, !found, false, false ); // if not found, mark it as offline!
                if ( !found ) {
                    offlineQueue.push( offlineSelection );
                }
                flushOfflineQueue( week );
            }
        }
        function flushOfflineQueue( weekToUse ) {
            localStorage.setItem( user + "-saved-selections-" + String( weekToUse ), JSON.stringify( offlineQueue ) );
        }
        function clearOfflineRequests() {
            localStorage.removeItem( user + "-saved-selections-" + String( week ) );
        }
        function selectionFlightTimeout() {
            poorConnection = true; // Server too slow or unavailable! Take this flight offline and mark it as such
            document.getElementById( "serversync" ).disabled = false; // Enable UI widget to sync to server
            document.getElementById( "submitchores" ).disabled = true; // Stop the ability to submit chores offline.
            offlineQueue = inFlight;
            for ( var i = 0, len = offlineQueue.length; i < len; i++ ) {
                applyDayCovers( getElFromItemSelection( offlineQueue[ i ] ), false, true, false, false ); // offline!
            }
            // Add in any pending actions in the submit queue and mark that as offline as well.
            for ( var i = 0, len = submitQueue.length; i < len; i++ ) {
                offlineQueue.push( submitQueue[ i ] );
                applyDayCovers( getElFromItemSelection( submitQueue[ i ] ), false, true, false, false ); // offline!
            }
            submitQueue = []; // Now empty.
            // Write the offline queue to disk in case browser window is closed.
            flushOfflineQueue( flightWeek );
            inFlight = null; // End the flight.
        }
        function selectionFlightError( itemToUndo ) {
            // Undo the action -- if set, then unset; if unset then set!
            var dayEl = getElFromItemSelection( itemToUndo );
            itemToUndo.select = !itemToUndo.select; // Flip this for the undo...
            dayEl.checked = itemToUndo.select;
            applyDayCovers( dayEl, false, false, true, false ); // Error
            updateModelWithSelectionInfo( itemToUndo );
        }
        function selectionOfflineFlightRetry() {
            poorConnection = false; // re-enable server connectivity (for re-try (if switching weeks or manually syncing)
            document.getElementById( "serversync" ).disabled = true; // Re-hide
            document.getElementById( "submitchores" ).disabled = ( submitStatus[ week ] == 2 );
            // Note: offlineQueue is previously hydrated from storage...
            for ( var i = 0, len = offlineQueue.length; i < len; i++ ) {
                var dayEl = getElFromItemSelection( offlineQueue[ i ] );
                dayEl.checked = offlineQueue[ i ].select;
                applyDayCovers( dayEl, true, false, false, false ); // pending...
                updateModelWithSelectionInfo( offlineQueue[ i ], true );
            }
            refreshDayTotals();
            submitQueue = offlineQueue; // This method is only invoked when offline (thus the submit queue will be empty already), or on start-up, so overwriting is OK.
            offlineQueue = [];
            clearOfflineRequests();
            processQueue();    
        }
        function getElFromItemSelection( sel ) {
            if ( sel.week != week ) {
                return; // not relevant to what is being displayed (week-switching will refresh data anyway)
            }
            return document.getElementById( sel.chore ).querySelectorAll( ".signup input" )[ sel.day ];
        }
        function reloadStatus( statusList ) {
            //    [ {
            //         alias (string)
            //       ? errorReason (string)        -- Note on structural issues that must be addressed before submission.
            //         available (bool)            -- does this chore have any relevant actions for this user? (show these by default)
            //       ? unavailableReason (string)  -- reason for a 'false' value above.
            //         complete (bool)             -- are the requirements for this chore satisfied?
            //       ? incompleteReason (string)   -- reason for a 'false' value above.
            //         week: "xxxxxxx" (string)    -- state codes for the various days of the requested week
            //       ? otherUserWeek: {
            //            user: "xxxxxxx"         -- state codes for other relevant users on this chore (for optional expansion in the UI)
            //         }
            //    } ]
            var templateStandardRow = document.getElementById( "template-std-row" );
            var templateStandardRowSubContainer = document.getElementById( "template-sub-row-container" );
            var templateStandardRowSub = document.getElementById( "template-sub-row" );
            var allChoresStringAccumulator = "";
            var tbody = document.getElementById( "choresignups" );
            for ( var i = 0, len = statusList.length; i < len; i++ ) {
                statusList[ i ].i = i + 1; // Stash the index for later replacement (since the list order is not preserved beyond this point)
                allChoresStringAccumulator += generateNewRowString( statusList[ i ], templateStandardRow, templateStandardRowSubContainer, templateStandardRowSub );
                // [Flash] update data model
                statusDB[ statusList[ i ].alias ] = statusList[ i ];
            }
            tbody.innerHTML = allChoresStringAccumulator;
            document.getElementById( "submitstatus" ).textContent = ( submitStatus[ week ] == 0 ? "Draft" : ( submitStatus[ week ] == 1 ? "Pending Approval" : "Approved" ) );
            document.getElementById( "submitchores" ).disabled = ( submitStatus[ week ] == 2 );
            var filterStatus = parseInt( document.querySelector( 'input[name="filtergroup"]:checked' ).value );
            // Apply status data to newly created elements... (except available)
            for ( var i = 0, len = statusList.length; i < len; i++ ) {
                applyStatusUpdatesToRow( statusList[ i ], filterStatus );
            }
            refreshRowVisibleCount();
            if ( submitStatus[ week ] == 2 ) {
                clearOfflineRequests(); // If there was anything queued up, it's no longer relevant to this week.
                refreshDayTotals();
            }
            else {
                // Hydrate localStorage (offline requests) for this user/week
                offlineQueue = JSON.parse( localStorage.getItem( user + "-saved-selections-" + String( week ) ) );
                if ( !offlineQueue ) {
                    offlineQueue = [];
                }
                selectionOfflineFlightRetry();
            }
        }
        function inplaceUpdateStatuses( updatesOb ) { // Triggered for online states only
            var tempTBody = document.createElement( "tbody" ); // InnerHTML context object
            var applicableChoreAliases = Object.keys( updatesOb );
            for ( var i = 0, len = applicableChoreAliases.length; i < len; i++ ) {
                // Locate the existing row in the table...
                var replaceRow = document.getElementById( applicableChoreAliases[ i ] );
                // Save (to later restore) row state at time of replacement (not time of last server snapshot)
                var savedStateList = [].map.call( replaceRow.querySelectorAll( ".signup input" ), function( elem ) {
                    return {
                        isPending: elem.classList.contains( "coverpending" ),
                        isError: elem.classList.contains( "coveriserror" ),
                        isUnavail: elem.classList.contains( "coverunavail" ),
                        isChecked: elem.checked
                    };
                } );
                var dropSubRow = document.getElementById( applicableChoreAliases[ i ] + "-sub" );
                var ordinalIndex = 1; // Unused by applyStatusUpdatesToRow is no sub-row exists.
                var subRowVisibilityState = null;
                if ( dropSubRow ) {
                    dropSubRow.parentNode.removeChild( dropSubRow ); // Gone!
                    var dropExpandCollapseInput = replaceRow.querySelector( ".expand input" );
                    ordinalIndex = parseInt( dropExpandCollapseInput.id.substring( 6 ) ); // cut off "expand" prefix
                    subRowVisibilityState = { state: dropExpandCollapseInput.checked };
                }
                var updateObject = updatesOb[ applicableChoreAliases[ i ] ];                
                updateObject.i = ordinalIndex;
                tempTBody.innerHTML = generateNewRowString( updateObject );
                // Note, do not update data model (it was previously updated at request time)
                var docFrag = document.createDocumentFragment();
                var newPrimaryRow = tempTBody.firstElementChild; // This is guaranteed to exist--the sub-row might not.
                while ( tempTBody.children.length > 0 ) {
                    docFrag.appendChild( tempTBody.firstElementChild );
                }
                replaceRow.parentNode.replaceChild( docFrag, replaceRow );
                // Restore pending, error, and checked states to new row
                [].forEach.call( newPrimaryRow.querySelectorAll( ".signup input" ), function ( elem, i ) {
                    elem.checked = savedStateList[ i ].isChecked;
                    applyDayUnavailable( elem, savedStateList[ i ].isUnavail );
                    applyDayCovers( elem, savedStateList[ i ].isPending, false, savedStateList[ i ].isError, false ); // pending OR error
                } );
                if ( subRowVisibilityState ) {
                    var expanderEl = newPrimaryRow.querySelector( ".expand input" );
                    expanderEl.checked = subRowVisibilityState.state;
                    updateExpandCollapseRow( expanderEl );
                }
                var filterStatus = parseInt( document.querySelector( 'input[name="filtergroup"]:checked' ).value );
                applyStatusUpdatesToRow( updateObject, filterStatus, true ); // Last param to 'true' since I just updated the week data from saved state
            }
            refreshRowVisibleCount();
            refreshDayTotals();
            updateExpandAllButton();
        }
        function processUnavailableChoreFilter() {
            document.getElementById( "choresignups" ).classList.toggle( "hideunavailable", document.getElementById( "hideunavailable" ).checked );
            refreshRowVisibleCount();
        }
        function processDayFilter() {
            var filterVal = parseInt( document.querySelector( 'input[name="filtergroup"]:checked' ).value );
            var statusAliasList = Object.keys( statusDB );
            for ( var i = 0, len = statusAliasList.length; i < len; i++ ) {
                var statusOb = statusDB[ statusAliasList[ i ] ];
                var rowEl = document.getElementById( statusOb.alias );
                if ( rowEl ) {
                    applyFilterStatusToRow( statusOb.alias, rowEl , ( filterVal >= 0 ) && ( statusOb.week[ filterVal ] != "1" ) );
                }
                else {
                    break; // Since none of the other rows may be there either... (in between refreshes!)
                }
            }
            refreshRowVisibleCount();
        }
        function generateNewRowString( choreStatus, optionalTemplateRow, optionalTemplateRowContainer, optionalTemplateRowSub ) {
            var templateStandardRow = optionalTemplateRow || document.getElementById( "template-std-row" );
            var templateStandardRowSubContainer = optionalTemplateRowContainer || document.getElementById( "template-sub-row-container" );
            var templateStandardRowSub = optionalTemplateRowSub || document.getElementById( "template-sub-row" );
            // Do some replacements
            var mainChoreString = templateStandardRow.textContent.replace( 
                /{{alias}}/, choreStatus.alias ).replace(
                /{{name}}/, choreDB[ choreStatus.alias ].name ).replace(
                /{{points}}/, choreDB[ choreStatus.alias ].points ).replace(
                /{{i}}/g, choreStatus.i ).replace(
                /{{noteunavailable}}/, ( choreStatus.unavailableReason ? choreStatus.unavailableReason : "" ) ).replace(
                /{{noteincomplete}}/, ( choreStatus.incompleteReason ? choreStatus.incompleteReason : "" ) ).replace(
                /{{noteerror}}/, ( choreStatus.errorReason ? choreStatus.errorReason : "" ) );
            if ( choreStatus.otherUserWeek ) {
                var subContainerRows = "";
                var subRowUsers = Object.keys( choreStatus.otherUserWeek );
                for ( var j = 0, jlen = subRowUsers.length; j < jlen; j++ ) {
                    subContainerRows += templateStandardRowSub.textContent.replace(
                        /{{alias}}/, choreStatus.alias ).replace(
                        /{{user}}/, subRowUsers[ j ] ).replace(
                        /{{name}}/, usersDB[ subRowUsers[ j ] ].name );
                }
                mainChoreString += templateStandardRowSubContainer.textContent.replace(
                    /{{alias}}/, choreStatus.alias ).replace(
                    /{{allrows}}/, subContainerRows ); 
            }
            return mainChoreString;
        }
        function applyFilterStatusToRow( rowAlias, rowEl, filterOut ) {
            rowEl.classList.toggle( "filtered", filterOut );
            // Also the filter applies to any linked "sub" row
            var subRow = document.getElementById( rowAlias + "-sub" );
            if ( subRow ) {
                subRow.classList.toggle( "filtered", filterOut );
            }
        }
        function applyStatusUpdatesToRow( statusOb, filterStatus, skipWeekUpdate ) {
            var rowEl = document.getElementById( statusOb.alias );
            rowEl.classList.toggle( "incomplete", !statusOb.complete );
            rowEl.classList.toggle( "error", !!statusOb.errorReason );
            rowEl.classList.toggle( "unavailable", !statusOb.available );
            // Also the filter applies to any linked "sub" row
            var subRow = document.getElementById( statusOb.alias + "-sub" );
            if ( subRow ) {
                subRow.classList.toggle( "unavailable", !statusOb.available );
            }
            applyFilterStatusToRow( statusOb.alias, rowEl, ( filterStatus >= 0 ) && ( statusOb.week[ filterStatus ] != "1" ) );
            if ( !skipWeekUpdate ) {
                // Sync 'week'
                var dayElems = rowEl.querySelectorAll( ".signup input" );
                for ( var i = 0, len = dayElems.length; i < len; i++ ) {
                    writeDayState( statusOb.week[ i ], dayElems[ i ] );
                }
            }
            // Sync otherUserWeek (all users)
            if ( statusOb.otherUserWeek ) {
                var altUserList = Object.keys( statusOb.otherUserWeek );
                for ( var i = 0; i < altUserList.length; i++ ) {
                    var subRowEl = document.getElementById( statusOb.alias + "-sub-" + altUserList[ i ] ); // {{alias}}-sub-{{user}}
                    var subDayElems = subRowEl.querySelectorAll( "input" );
                    var altUserDays = statusOb.otherUserWeek[ altUserList[ i ] ];
                    for ( var s = 0, len = subDayElems.length; s < len; s++ ) {
                        writeDayState( altUserDays[ s ], subDayElems[ s ] );
                        applyDayCovers( subDayElems[ s ], false, false, false, altUserDays[ s ] == "2" );
                    }
                }
            }
            else { // No additional UI to show...remove it.
                rowEl.querySelector( ".expand" ).textContent = "";
            }
        }
        // This applies a change (force-changing), assuming unchecked, undisabled new checkbox.
        function writeDayState( charCode, dayEl ) {
            if ( charCode == "0" ) { // disabled
                applyDayUnavailable( dayEl, true );
            }
            else if ( charCode == "2" ) { // selected
                dayEl.checked = true;
            }
            // else // available! (default)
            // If this week has been submitted and approved, then all chore selection is disabled :-)
            if ( submitStatus[ week ] == 2 ) {
                dayEl.disabled = true;
            }
        }
        function applyDayCovers( dayEl, isPending, isOffline, isError, isConfirmed ) {
            dayEl.classList.toggle( "coverpending", isPending );
            dayEl.classList.toggle( "coveroffline", isOffline );
            dayEl.classList.toggle( "coveriserror", isError );
            dayEl.classList.toggle( "coverconfirm", isConfirmed );
        }
        function applyDayUnavailable( dayEl, val ) {
            dayEl.classList.toggle( "coverunavail", val );
            dayEl.disabled = val;
        }
        function getDayTotals() {
            return [ "sun", "mon", "tue", "wed", "thu", "fri", "sat" ].map( function ( dayString ) {
                var checkedDays = document.querySelectorAll( ".chorerow .signup." + dayString + " input:checked" );
                // Count the points associated with each checked day...
                var dayTotal = 0;
                for ( var i = 0, len = checkedDays.length; i < len; i++ ) {
                    dayTotal += choreDB[ checkedDays[ i ].parentNode.parentNode.id ].points;
                }
                return dayTotal;
            } );               
        }
        function refreshDayTotals() {
            var dayTotalElems = document.querySelectorAll( ".pointstotal" );
            var dayTotals = getDayTotals();
            for ( var i = 0, len = dayTotalElems.length; i < len; i++ ) {
                dayTotalElems[ i ].textContent = dayTotals[ i ];
                dayTotalElems[ i ].parentNode.classList.toggle( "notapplicable", dayTotals[ i ] == 0 && dayRequired[ i ] == 0 );
                dayTotalElems[ i ].parentNode.classList.toggle( "needy", dayTotals[ i ] < dayRequired[ i ] );
                dayTotalElems[ i ].parentNode.classList.toggle( "good", dayTotals[ i ] > 0 && dayTotals[ i ] >= dayRequired[ i ] );
            }
        }
        function refreshRowVisibleCount() {
            document.getElementById( "choreshowingtotal" ).textContent = Object.keys( choreDB ).length - document.querySelectorAll( ".hideunavailable .chorerow.unavailable, .chorerow.filtered" ).length;
        }
        function trySubmitChores() {
            // Note, this can't be run in known offline state, so no need to alert user to offline chores not part of submission...
            // Check for day point deficiencies
            document.getElementById( "submitchores" ).disabled = true;
            var dayTotals = getDayTotals();
            var dayString = "";
            for ( var i = 0, len = dayTotals.length; i < len; i++ ) {
                if ( dayTotals[ i ] < dayRequired[ i ] ) {
                    switch ( i ) {
                        case 0: dayString += "Sunday "; break;
                        case 1: dayString += "Monday "; break;
                        case 2: dayString += "Tuesday "; break;
                        case 3: dayString += "Wednesday "; break;
                        case 4: dayString += "Thursday "; break;
                        case 5: dayString += "Friday "; break;
                        case 6: dayString += "Saturday "; break;
                    }
                }
            }
            if ( dayString.length > 0 ) {
                var messageContainer = document.getElementById( "submitchoremessage" )
                messageContainer.innerHTML = dayString + "do not meet minimum chore requirements. Are you sure? <input type='button' value='Yes, submit anyway'>...";
                var countdown = 8;
                var timerId = setTimeout( function autoCancelTimer () {
                    countdown--;
                    messageContainer.replaceChild( document.createTextNode( " Cancelling in " + countdown + "..." ), messageContainer.lastChild );
                    if ( countdown == 0 ) {
                        messageContainer.textContent = "";
                        document.getElementById( "submitchores" ).disabled = false;
                    }
                    else {
                        timerId = setTimeout( autoCancelTimer, 1000 );
                    }
                }, 1000 );
                messageContainer.firstElementChild.onclick = function () {
                    clearTimeout( timerId );
                    messageContainer.textContent = "";
                    submitChores();
                };
            }
            else {
                submitChores();
            }
        }
        function submitChores() {
            req( "/api/submitchores", { week: week } ).then( function ( ob ) {
                if ( ob.error ) {
                    alert( ob.error );
                    document.getElementById( "submitchores" ).disabled = false;
                }
                else {
                    alert( ob.success );
                    location.href = "/chores"; // Re-navigate.
                }
            }, function () {
                alert( "Not submitted" );
                document.getElementById( "submitchores" ).disabled = false;
            } );
        }
        </script>
    </body>
</html>

                    