html { 
    --theme-darker: #672131;
    --theme-dark: #c0002d;
    --theme-light: #f4beca;
    background-color: #000;
    background-image: radial-gradient( at 30% 30%, var(--theme-dark) 0%, var(--theme-darker) 50%, black 100% );
    background-repeat: no-repeat;
    color: var(--theme-light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2 {
    text-shadow: 0 0 5px #000;
}

/* control themes */

input[type=password], input[type=text], textarea {
    color: var(--theme-dark);
    background-color: var(--theme-darker);
    border: 1px solid var(--theme-dark);
    transition: color 250ms, border-color 250ms, background-color 250ms;
}
input[type=password]:disabled, input[type=text]:disabled, textarea:disabled {
    color: var(--theme-darker);
    background-color: transparent;
    border-color: var(--theme-darker);
}
input[type=password]:hover:not(:disabled), input[type=text]:hover:not(:disabled), textarea:hover:not(:disabled) {
    border-color: var(--theme-light);
}
input[type=password]:focus, input[type=text]:focus, textarea:focus {
    color: var(--theme-light);
    background-color: black;
    border-color: var(--theme-light);
}


input[type=button], button {
    color: var(--theme-light);
    background-color: var(--theme-dark);
    background-image: radial-gradient( at 30% 30%, var(--theme-dark) 0%, var(--theme-darker) 100% );
    border: 2px solid black;
    transform: scale(1);
    opacity: 1.0;
    transition: color 250ms, border-color 250ms, opacity 250ms, transform 100ms;
}
input[type=button]:disabled, button:disabled {
    background-image: none;
    background-color: transparent;
    opacity: 0.5;
    color: var(--theme-dark);
    border-color: var(--theme-dark);
}
input[type=button]:hover:not(:disabled), button:hover:not(:disabled) {
    border-color: var(--theme-light);
}
input[type=button]:focus, button:focus {
    border-color: var(--theme-light);
    outline: none;
    transform: scale(1.1);
}
input[type=button]:active, button:active {
    transform: scale(0.9);
}