<!DOCTYPE html>
<html>
    <head>
        <title>Chose user selection</title>
        <link rel="stylesheet" href="/client/common.css">
        <style>
            html { height: 100%; }
            main > h1, main > p { text-align: center; }
            form > div {
                display: flex;
                justify-content: space-around;
            }
            .userselect {
                display: flex;
                flex-direction: column;
                font-size: 2em;
                padding: 0.5em;
                border-radius: 0.5em;
                border: 2px solid transparent;
                transition: background-color 250ms;
            }
            .userselect:hover {
                background-color: var(--theme-dark);
                border: 2px solid var(--theme-light);
            }
            input[type=password], button { 
                margin: 0.5em auto;
                display: block;
                font-size: 1em;
                padding: 0.5em;
            }
            input[type=password] {
                width: 12em;
            }
            button {
                width: 5em;
            }
        </style>
        <script type="my/template" id="template">
            <label class="userselect">
                <input type="radio" name="user" value="{{alias}}">
                <img src="{{icon}}">
                {{name}}
            </label>
        </script>
    </head>
    <body>
        <main>
            <h1>Hello!</h1>
            <p>Please click on your name to login.</p>
            <div id="swap-when-loaded">
                <label>Loading user list...
                    <progress></progress>
                </label>
            </div>
        </main>
        <script src="client/utils.js"></script>
        <script>
            // Make a request for the users
            req( "/api/loginlist" ).then( function ( list ) {
                var usersDB = {};
                var div = document.querySelector( "#swap-when-loaded" );
                var newInnerHTML = "<form method=\"post\" action=\"/api/auth\"><div>";
                for ( var i = 0, len = list.length; i < len; i++ ) {
                    var item = list[ i ];
                    var template = document.getElementById( "template" ).textContent;
                    newInnerHTML += template.replace( 
                        /{{name}}/, item.name ).replace( 
                        /{{alias}}/, item.alias ).replace( 
                        /{{icon}}/, item.icon );
                    usersDB[ item.alias ] = item;
                }
                div.innerHTML = newInnerHTML + "</div><input type=\"password\" name=\"pin\" placeholder=\"Enter your PIN number\" disabled><button disabled>Log in</button></form>";
                var password = document.querySelector( "input[type=password]" );
                var button = document.querySelector( "button" );
                div.onclick = function ( e ) {
                    if ( /input/i.test( e.target.nodeName ) && e.target.type == "radio" ) {
                        password.disabled = false;
                        div.onclick = null;
                        password.focus();
                    }
                }
                password.oninput = function ( e ) {
                    if ( e.target.value.length > 0 ) {
                        button.disabled = false;
                    }
                    else {
                        button.disabled = true;
                    }
                }

                // Save the user list to local storage for faster retrieval after login...
                sessionStorage.setItem( "users-db", JSON.stringify( usersDB ) );
            }, console.log );
        </script>
    </body>
</html>