<!DOCTYPE html>
<html>
    <head>
        <title>Weekly Chores Printable</title>
        <style>
        @media print
        {
            @page
            {
                size: 8.5in 11in;
                margin: 0.2in;
            }
        }
        body, html { margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        header p { font-size: 24pt; margin: 0; }
        header h1, header p:last-child { font-size: 16pt; margin: 0; }
        header { 
            display:grid; 
            grid-template-columns:repeat(3, 1fr);
            align-items:end;
            justify-items:center;
            margin-bottom: 5px;
        }
        main {
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap: 0.3cm;
        }
        .day {
            border: 2px solid black;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr 80px;
            grid-template-rows: auto 1fr;
        }
        .day h2 { font-size: 16px; padding: 0 0 0 1em; margin: 0; }
        .daysig { margin: 2px; border: 1px solid black; height: 20px; }
        ul { padding-left: 20px; margin: 8px 0; grid-column: 1 / 3; align-self:start; font-size: 10pt; }
        #rewards { display: flex; flex-direction: column; align-items: flex-end; }
        #rewards .daysig { width: 60px; height: 30px; display: inline-block; vertical-align:middle; }
        #rewards p { margin: 0 20px 2px 0; }
        #rewards h2 { margin: 5px 0 0; }
        #rewards span { font-size: 12pt; }
        #rewards .dollar { font-weight: 800; font-size: 16pt; }
        footer { display: flex; justify-content: center; }
        footer p { padding: 5px 1em; font-size: 14pt; margin: 2px 0; }
        footer #sigbox { width:400px; border: 2px solid black; }
        </style>
        <script id="choreline" type="my/template">
            <li>
                <span>{{chore}}</span>
                <span>({{points}})</span>
                <span class="checkoff"></span>
            </li>
        </script>
    </head>
    <body>
        <header>
            <h1>Weekly Chore Checklist</h1>
            <p id="name">..</p>
            <p>Week <span id="week">..</span></p>
        </header>
        <main>
            <div id="day0" class="day">
                <h2>Sunday (min <span id="min0"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day1" class="day">
                <h2>Monday (min <span id="min1"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day2" class="day">
                <h2>Tuesday (min <span id="min2"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day3" class="day">
                <h2>Wednesday (min <span id="min3"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day4" class="day">
                <h2>Thursday (min <span id="min4"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day5" class="day">
                <h2>Friday (min <span id="min5"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="day6" class="day">
                <h2>Saturday (min <span id="min6"></span>)</h2>
                <p class="daysig"></p>
                <ul class="choreblock"></ul>
            </div>
            <div id="rewards">
                <h2>Rewards</h2>
                <p>
                    <span class="dollar">$5</span>
                    <span>for basic daily chores</span>
                    <span class="daysig"></span>
                </p>
                <p>
                    <span class="dollar">$2</span>
                    <span>per weekday elective chores</span>
                    <span class="daysig"></span>
                </p>
                <p>
                    <span class="dollar">$5</span>
                    <span>bonus for all complete days</span>
                    <span class="daysig"></span>
                </p>
                <p>
                    <span class="dollar"></span>
                    <span>total</span>
                    <span class="daysig"></span>
                </p>
            </div>
        </main>
        <footer>
            <p id="finalsig">Parent Signature</p>
            <p id="sigbox"></p>
        </footer>
        <script src="client/utils.js"></script>
        <script>
        // Last week viewed is what will be printed by default (printload==user overrides this)
        var reqData = { week: parseInt( sessionStorage.getItem( "last-week" ) ) };
        var users = JSON.parse( sessionStorage.getItem( "users-db" ) ); // USER { alias, name, icon }
        var chores = null;
        onmessage = function( e ) {
            if ( !e.data.printload ) {
                return console.log( "bad message format" );
            }
            if ( e.data.printload == "my" ) {
                printmychores();
            }
            else if ( e.data.printload == "user" && e.data.user && typeof e.data.week == "number" ) {
                reqData.week = e.data.week; // override whatever's in session storage
                printuserchores( e.data.user );
            }
            else {
                console.log( "unkown message command" );
            }
        }
        function printmychores() {
            parallelordered( req( "/api/config" ), function ( choreInfo ) {
                setWeek( reqData.week );
                setUser( choreInfo.user );
                fillChoreDB( choreInfo.chores ); // CHORES [ { alias, name, points } ]
                fillMinChoreRequirements( choreInfo.expectedPoints );
            }, req( "/api/selectedweek", reqData ), fillChoresAndPrint, console.log );
        }
        function printuserchores( userName ) {
            setWeek( reqData.week );
            reqData.user = userName;
            setUser( userName );
            // Note, /api/weekreview requires admin priveledges, attempting to call it by a non-admin will result in an error.
            parallelordered( req( "/api/chorelist" ), fillChoreDB, req( "/api/weekreview", reqData ), function ( status ) {
                fillMinChoreRequirements( status.expectedPoints );
                fillChoresAndPrint( status.weekChoreAliases ); // [ [ choreAlias, ... ] ] {0-6}
            }, console.log );
        }
        function setWeek( weekIndex ) {
            document.getElementById( "week" ).textContent = weekIndex + 1;
        }
        function setUser( userAlias ) {
            document.getElementById( "name" ).textContent = users[ userAlias ].name;
        }
        function fillChoreDB( chorelist ) {
            chores = {};
            for ( var i = 0, len = chorelist.length; i < len; i++ ) {
                chores[ chorelist[ i ].alias ] = chorelist[ i ];
            }
        }
        function fillMinChoreRequirements( expectedPoints ) {
            for ( var i = 0, len = expectedPoints.length; i < len; i++ ) {
                document.getElementById( "min" + i ).textContent = expectedPoints[ i ];
            }
        }
        function fillChoresAndPrint( choreWeekList ) {
            var templateListItem = document.getElementById( "choreline" ).textContent;
            for ( var i = 0, len = choreWeekList.length; i < len; i++ ) {
                var listContainerEl = document.querySelector( "#day" + i + " .choreblock" );
                var accumulateString = "";
                for ( var k = 0, kLen = choreWeekList[ i ].length; k < kLen; k++ ) {
                    accumulateString += templateListItem.replace( 
                        /{{chore}}/, chores[ choreWeekList[ i ][ k ] ].name ).replace(
                        /{{points}}/, chores[ choreWeekList[ i ][ k ] ].points );
                }
                listContainerEl.innerHTML = accumulateString;
            }
            print();
        }
        </script>
    </body>
</html>